html {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header section {
  margin: 1em auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 2rem;
}

header .webNav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

/* Navigation */
header .navigation {
  display: flex;
  justify-content: center;
}

header .navigation ul a {
  justify-content: space-between;
  text-decoration: none;
  margin: 0 1em;
  color: #7c7c7c;
  transition: ease-out 0.2s;
}

header .navigation ul a:hover {
  color: black;
  transition: ease-in 0.2s;
  text-shadow: 1px 1px 1px #ededed;
}

.navigation img {
  height: 60px;
}

.navigation p {
  font-size: 2rem;
  color: #D80000;
  font-weight: bold;
  /* padding: 0 2em; */
}

header span {
  display: none;
}

@media screen and (max-width: 500px) {
  header nav {
    display: none;
  }

  header nav {
    margin-left: 30%;
    flex-direction: column;
  }

  nav .fas {
    position: absolute
  }
}

/* About */
.about-info {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 2rem auto;
  padding: 0 4rem;
  line-height: 1.4;
  align-items: center;
}

@media (max-width: 500px) {
  .about-info {
    max-width: 100%;
    padding: 1rem;
    margin: 0 auto;
    align-items: center;
  }
}

.about-info h1 {
  font-size: 2rem;
  padding: 1rem 0;
  align-items: center;
}

.meet-the-team {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .meet-the-team {
    padding: 0 1rem;
  }
  .title {
    text-align: center;
  }
}

.meet-the-team .title {
  font-size: 2rem;
  padding: 1rem 0;
}

.team-profiles {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

@media (max-width: 500px) {
  .team-profiles {
    justify-content: center;
    font-size: 1.6rem;
  }
  .team-profile {
    width: 100%;    
    align-items: center;
  }
}

.team-profiles .team-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding: 2rem;
  border: 1px solid #7c7c7c;
  border-radius: 6px;
  background: #ededed;
  box-shadow: 2px 2px 2px #ededed;
  margin: 1rem;
}

.team-profile-img {
  width: 200px;
  height: 200px;
  justify-self: center;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #969595;
}

.team-profile-img img {
  width: 100%;
  border-radius: 50%;
  align-self: center;
  filter: grayscale(40%);
}

.team-profile .team-role {
  padding: 2rem 0;
  text-align: center;
}

.team-role ul li {
  padding: 1rem 0;
}

.github-link {
  align-self: center;
}

.github-link i {
  font-size: 2.4rem;
  transition: ease-out 0.2s;
  color: black;
}

@media (max-width: 500px) {
  .github-link i {
    font-size: 3.2rem;
  }
}

.github-link i:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

