html {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header section {
  margin: 1em auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

header .webNav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

/* Navigation */
header .navigation {
  display: flex;
  justify-content: center;
}

header .navigation ul a {
  justify-content: space-between;
  text-decoration: none;
  padding: 0 1em;
  font-family: 'Montserrat', sans-serif;
  color: #7c7c7c;
}

.navigation img {
  height: 60px;
}

.navigation p {
  font-size: 2rem;
  color: #D80000;
  font-weight: bold;
  /* padding: 0 2em; */
}

header span {
  display: none;
}

@media screen and (max-width: 500px) {
  header nav {
    display: none;
  }

  header nav {
    margin-left: 30%;
    flex-direction: column;
  }

  nav .fas {
    position: absolute
  }
}

/* About */
.about-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem 0;
  padding: 0 4rem;
}

.about-info h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

.meet-the-team {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

.meet-the-team .title {
  font-size: 2rem;
  padding: 1rem 0;
}

.team-profiles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.team-profiles .team-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid #7c7c7c;
  border-radius: 6px;
  background: #ededed;
  box-shadow: 2px 2px 2px #ededed;
  margin: 1rem 0;
}

.team-profile-img {
  background: #D80000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-self: center;
}

.team-profile .team-role {
  padding: 2rem 0;
}

.team-role ul li {
  padding: 1rem 0;
  list-style: disc;
}

.github-link i {
  font-size: 2.4rem;
  transition: ease-out 0.2s;
  color: black
}

.github-link i:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

