html {
  font-family: 'Montserrat', sans-serif;
}

/* Header */

header section {
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
}

header .webNav {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  padding: 0 1rem;
}


/* Navigation */
header .navLogo p{
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: #D80000;
  font-weight: 500;
}

header .navigation div {
  display: flex;
  align-items: center;
  width: 40%;
}

header .navigation{
  border-bottom: 1px solid #ededed;
  padding-bottom: 2rem;
}

header .navigation div .navLogo{
  display: inherit;
  align-items: center;
  justify-content: space-between;
}
header .navigation ul a {
  justify-content: space-between;
  text-decoration: none;
  padding: 0 1rem;
  color: #7c7c7c;
  transition: ease-out 0.2s;
  font-size: 1.2rem;
}

header .navigation ul a:hover {
  color: #D80000;
  padding-bottom: .3rem;
  border-bottom: 1px solid #D80000;
  transition: ease-in 0.2s;
  text-shadow: 1px 1px 1px #ededed;
}

.navigation img {
  height: 60px;
}

header span {
  display: none;
}

@media screen and (max-width: 500px) {
  header {
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    padding-top: 5px;
    z-index: 10;
    display: flex;
  }

  header .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
  }

  .navigation .navLogo{
    display: flex;
    flex-direction: column;
  } 

  header .webNav ul {
    display: none;
  }

  header section {
    margin: 0;
  }

  header nav {
    margin-left: 30%;
    flex-direction: column;
  }

  nav .fas {
    position: absolute;
  }

  header span {
    display: initial;
  }

  .navSlide {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
  }

  .navSlide a {
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }

  .navSlide .model-list {
    margin-top: 3rem;
    padding: 0 3rem;
  }

  .navSlide .fa-times {
    position: absolute;
    top: 22px;
    right: 22px;
    margin-left: 40px;
  }

  #slideContent span .slide a {
    color: black;
    font-size: 36px;
  }

  #slideContent {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
  }

  #slideContent a {
    font-size: 2rem;
    color: #7c7c7c;
    transition: ease-out 0.2s;
  }

  #slideContent a:hover {
    color: black;
    transition: ease-in 0.2s;
  }
}

/* About */

.about-us {
  border-bottom: 1px solid #ededed;
}
.about-info {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 2rem auto;
  padding: 0 4rem;
  line-height: 1.4;
  align-items: center;
}

@media (max-width: 500px) {
  .about-us {
    padding-top: 10rem;
    text-align: center;
  }
  .about-info {
    max-width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    margin: 0 auto;
    align-items: center;
  }
}

.about-info h1 {
  font-size: 2rem;
  padding: 1rem 0;
  align-items: center;
  color: #D80000;
}

.about-info p {
  color: #7c7c7c;
  font-size: 1.2rem;
}

.meet-the-team {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .meet-the-team {
    padding: 2rem 1rem;
  }

  .title {
    text-align: center;
  }
}

.meet-the-team .title {
  font-size: 2rem;
  padding: 1rem 0;
  color: #D80000;
}

.team-profiles {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

@media (max-width: 500px) {
  .team-profiles {
    justify-content: center;
    font-size: 1.6rem;
  }

  .team-profile {
    width: 100%;
    align-items: center;
  }
}

.team-profiles .team-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding: 2rem;
  border: 1px solid #7c7c7c;
  border-radius: 6px;
  background: #f7f3f3;
  color: #6e6e6e;
  box-shadow: 2px 2px 2px #ededed;
  margin: 1rem;
}

.team-profile-img {
  width: 200px;
  height: 200px;
  justify-self: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #a7a6a6;
}

.team-profile-img img {
  width: 100%;
  border-radius: 50%;
  align-self: center;
  filter: grayscale(40%);
}

.team-profile .team-role {
  padding: 2rem 0;
  text-align: center;
}

.team-role ul li {
  padding: 1rem 0;
}

.github-link {
  align-self: center;
}

.github-link i {
  font-size: 2.4rem;
  transition: ease-out 0.2s;
  color: black;
}

@media (max-width: 500px) {
  .github-link i {
    font-size: 3.2rem;
  }
}

.github-link i:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

/* Footer */
footer {
  background-color: #D80000;
  height: 20%;
  margin-top: 5em;
}

footer p {
  text-align: center;
  padding: 2em;
  color: #ededed;
  font-size: 1.1rem;
}