html {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header section {
  display: flex;
  justify-content: space-between;
}

header .webNav {
    display: flex;
    width: 40%;
    justify-content: flex-end;
  }
  
  
  /* Navigation */
header .navLogo p{
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    color: #D80000;
    font-weight: 500;
}

header .navigation div {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 0 1rem;
  }

header .navigation {
  border-bottom: 1px solid #ededed;
  padding: 1.6rem;
  max-width: 100%;
}

header .navigation ul a {
  justify-content: space-between;
  text-decoration: none;
  padding: 0 1rem;
  color: #7c7c7c;
  transition: ease-out 0.2s;
  font-size: 1rem;
}

header .navigation ul a:hover {
  color: #D80000;
  padding-bottom: .3rem;
  border-bottom: 1px solid #D80000;
  transition: ease-in 0.2s;
  text-shadow: 1px 1px 1px #ededed;
}

.navigation img {
  height: 60px;
}

header span {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navigation .webNav {
    width: 100%;
  }
}

/* @media screen and (max-width: 800px) {
  .navigation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navigation .webNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation .webNav ul {
    width: 100%;
  }
} */

@media screen and (max-width: 800px) {
  header {
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    padding-top: 5px;
    z-index: 10;
    display: flex;
  }

  header .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #ededed;
  }

  .navigation .navLogo {
    display: flex;
    flex-direction: column;
  }

  header .webNav ul {
    display: none;
  }

  header section {
    margin: 0;
  }

  header nav {
    margin-left: 30%;
    flex-direction: column;
  }

  nav .fas {
    position: absolute;
  }

  header span {
    display: initial;
  }

  .navSlide {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
  }

  .navSlide a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }

  .navSlide .model-list {
    margin-top: 3rem;
    padding: 0 2rem;
  }

  .navSlide .fa-times {
    position: absolute;
    top: 22px;
    right: 22px;
    margin-left: 40px;
  }

  #slideContent span .slide a {
    color: black;
    font-size: 36px;
  }

  #slideContent {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
  }

  #slideContent a {
    font-size: 2rem;
    color: #7c7c7c;
    transition: ease-out 0.2s;
  }

  #slideContent a:hover {
    color: black;
    transition: ease-in 0.2s;
  }
}


/* CONTENT */
.content {
  margin: 0 auto;
  padding-top: 150px;
  max-width: 100%;
}

.content h1 {
  font-size: 25px;
  color: #D80000;
  font-weight: bold;
  padding-bottom: 10px;
}

/* Steps */
.steps {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 6rem;
}

.steps div img {
  box-shadow: 2px 3px 2px #a19f9f;
}

/* HEAD */
.steps div img{
    height: 15em;
    width: 15em;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    body .content{
        /* width: 90%; */
        margin: 0;
        padding-top: 5rem;
    }
    body .content p{
        font-size: 18px;
    }
    .steps{
        flex-direction: column;
        justify-content: center;
    }

    .steps div{
        margin: 0 auto;
    }
    .steps div img{
        height: 10em;
        width: 10em;
    }
}

@media screen and (max-width: 800px) {
  body .content {
    padding-top: 14rem;
  }
}

    /* ======= */

.steps div h3 {
  text-align: center;
  color: #d80000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.steps div img {
  height: 20em;
  width: 20em;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  body .content {
    margin: 2rem 0;
  }

  body .content p {
    font-size: 18px;
  }

  .steps {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .steps div {
    margin: 0 auto;
    padding: 1rem 0;
  }

  .steps div img {
    height: 10em;
    width: 10em;
  }
}

/* Features */
.features {
  padding-bottom: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #D80000;
  box-shadow: 2px 3px 5px rgb(114, 6, 6);
}
.features h1{
  font-size: 2rem;
  color: white;
  padding: 2rem 0 1rem 0;
  border-bottom: 1px solid #ededed;
}

.features div {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem 0;
}

.features .list div{
  height: 250px;
  width: 170px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 2px 3px 5px rgb(114, 6, 6);
  transition: ease-out 0.2s;
}

.features .list div:hover{
  transition: ease-in 0.2s;
  background: #fff;
  transform: scale(1.125);
}

.features .list div:hover .svg-inline--fa{
  transition: ease-out 0.2s;
  width: 100%;
}

.features div .text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%;
}
.features .list p{
    padding: 1rem;
    font-size: 1rem;
    color: #7c7c7c;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.features .list div .svg-inline--fa{
    font-size: 3rem;
    color: #7c7c7c;
    margin: 0 auto;
    padding-bottom: .5rem;
    border-bottom: 1px solid #7c7c7c;
    transition: ease-out 0.2s;
}

/*Phone Pics*/
.phonePics {
  padding-top: 8rem;
}

.phonePics .appImg {
  display: flex;
  justify-content: space-evenly;
  /* animation: slide 5s infinite; */
}

.phonePics .appImg img:hover{
  transition: ease-in 0.2s;
  transform: scale(1.05);
}

.phonePics .appImg img {
  max-width: 30%;
  /* padding: 2.5%; */
  box-sizing: border-box;
  border-radius: 2em;
  transition: ease-out 0.2s;
}

/* Try It Out Button */
.phonePics .tryItOut {
  display: flex;
  justify-content: center;
  align-items: baseline;
  /* background-color: #D80000; */
}

@media screen and (max-width: 500px) {
  .phonePics {
    padding: 0;
  }
}

.tryItOut a {
  text-decoration: none;
}

.phonePics .tryItOut p {
  color: #7c7c7c;
  font-size: 25px;
  font-weight: bold;
  padding: 2rem 0;
  border-radius: .6rem;
  transition: ease-out 0.2s;
}

.phonePics .tryItOut p:hover {
  transform: scale(1.2);
  transition: ease-in 0.2s;
}
.phonePics .tryItOut p:hover {
  color: #c6c6c6;
}

@media screen and (max-width: 500px) {
  .features {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    padding-top: 2rem;
    max-width: 90%;
  }

  .features .text {
    max-width: 100%;
    margin: 0;
    justify-content: center;
    line-height: 1.4;
    text-align: center;
    border-bottom: 1px solid #ededed;
    padding-bottom: 3rem;
  }

  .features .list {
    padding-top: 2rem;
    max-width: 100%;
  }

  .features .list ol {
    margin-left: 0;
    font-size: 18px;
  }

  .phonePics .appImg {
    display: none;
    flex-direction: column;
  }
}

/* Get Started */
.getStarted {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: flex-end;
  padding: 8rem 0 4rem 0;
}
.getStarted h1{
  font-size: 2rem;
}

.getStarted div {
  max-width: 30%;
}

.getStarted div p {
  line-height: 1.4;
  color: #7c7c7c;
  font-size: 1.2rem;
  padding-top: 1rem;
}


.getStarted div.button a button {
  margin: 0 auto;
  padding: 1.2rem;
  font-size: 1.6rem;
  background: #d80000;
  color: #ededed;
  outline: none;
  border-radius: .6rem;
  box-shadow: 2px 2px 2px #d8d5d5;
  transition: ease-out 0.2s;
}

.getStarted div.button a button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

@media screen and (max-width: 1000px) {
  .getStarted {
    flex-direction: column;
    padding: 2rem 0;
  }

  .getStarted div {
    max-width: 90%;
    display: flex;
    justify-content: center;
  }

  .getStarted .text2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 0;
    margin: 0 auto;
  }

  .getStarted div.button {
    margin: 0 auto;
  }
}

/* Footer */
footer {
  background-color: #D80000;
  height: 20%;
  margin-top: 5em;
}

footer p {
  text-align: center;
  padding: 2em;
  color: #ededed;
  font-size: 1.1rem
}
