html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-title h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #d80000;
  text-align: center;
  padding: 2rem 0 4rem 0;
}

.logo img {
  width: 20rem;
}

.sign-up-form form {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #c6c6c6;
  max-width: 100%;
}

.sign-up-form .row {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 0;
}

.sign-up-form label {
  padding: 1rem 0;
}

.sign-up-form input {
  font-size: 1.6rem;
  outline: none;
  padding: 1rem;
  width: 40rem;
  transition: ease-out 0.1s;
}

.sign-up-form input:hover {
  transform: scale(1.03);
  transition: ease-in 0.1s;
}

.sign-up-form button {
  max-width: 50%;
  margin: 0 auto;
  padding: 1.6rem;
  font-size: 1.6rem;
  background: #d80000;
  color: #ededed;
  outline: none;
  border-radius: .6rem;
  box-shadow: 2px 2px 2px #d8d5d5;
  transition: ease-out 0.2s;
}

.sign-up-form button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

@media screen and (max-width: 500px) {
  .sign-up-form form {
    max-width: 90%;
    margin: 0 auto;
  }

  .sign-up-form input {
    max-width: 95%;
  }
}