html {
  font-family: 'Montserrat', sans-serif;
}

/* Header */

header section {
  margin: 1em auto;
  display: flex;
  justify-content: space-between; 
}

header .webNav {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}


/* Navigation */

header .navLogo p{
    font-family: 'Nunito', sans-serif;
}

header .navigation div {
  display: flex;
  align-items: center;
  width: 40%;
}

header .navigation ul a {
  justify-content: space-between;
  text-decoration: none;
  padding: 0 1em;
  color: #7c7c7c;
  transition: ease-out 0.2s;
  font-size: 1rem;
}

header .navigation ul a:hover {
  color: black;
  padding-bottom: .5em;
  border-bottom: 1px solid black;
  transition: ease-in 0.2s;
  text-shadow: 1px 1px 1px #ededed;
}

.navigation img {
  height: 60px;
}

.navigation p {
  font-size: 2rem;
  color: #D80000;
  font-weight: 500;
  /* padding: 0 2em; */
}

header span {
  display: none;
}

@media screen and (max-width: 500px) {
  header {
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    padding-top: 5px;
    z-index: 10;
    display: flex;
  }

  header .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #ededed;
  }

  header .webNav {
    display: none;
  }

  header section {
    margin: 0;
  }

  header nav {
    margin-left: 30%;
    flex-direction: column;
  }

  nav .fas {
    position: absolute;
  }

  header span {
    display: initial;
  }

  .navSlide {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
  }

  .navSlide a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }

  .navSlide .model-list {
    margin-top: 3rem;
    padding: 0 2rem;
  }

  .navSlide .fa-times {
    position: absolute;
    top: 22px;
    right: 22px;
    margin-left: 40px;
  }

  #slideContent span .slide a {
    color: black;
    font-size: 36px;
  }

  #slideContent {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
  }

  #slideContent a {
    font-size: 2rem;
    color: #7c7c7c;
    transition: ease-out 0.2s;
  }

  #slideContent a:hover {
    color: black;
    transition: ease-in 0.2s;
  }
}

/* Banner */

body .banner {
    margin: 0 auto;
  height: 70%;
  width: 95%;
  object-fit: cover;
  background: url("images/pizza.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(90%);
  display: flex;
}

body .banner h1 {
  font-size: 60px;
  width: 50%;
  padding: 15% 0;
  margin-left: 5%;
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px black;
}

@media screen and (max-width: 500px) {
  body section.banner {
    position: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 40%;
  }

  body section.banner h1 {
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
  }
}


/* content */

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.content h2 {
  font-size: 32px;
  color: #D80000;
  font-weight: bold;
  padding-bottom: 10px;
}

.content p {
  font-size: 20px;
}

/* Explore and Eat*/

.explore {
  margin-bottom: 5%;
  margin-left: 5%;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.explore div{
  display: flex;
  margin: 10px 0;
  max-width: 50%;
  justify-content: space-evenly;
}

.explore div img {
  width: 100%;
  box-shadow: 2px 1px 2px #c0bebe;
}

.explore .div1 {
  max-width: 30%;
  text-align: right;
  flex-direction: column;
}

.div1 p {
  line-height: 1.4;
  color: #7c7c7c;
}


/*How it Works*/

.howItWorks div {
  padding: 5px;
  align-content: center;
  display: flex;
}

.howItWorks {
  display: flex;
  flex-direction: row-reverse;
  height: 50%;
  margin-top: 10% auto;
  align-items: center;
  justify-content: space-evenly;
  background-color: #D80000;
}

.howItWorks .div3 {
  max-width: 30%;
  flex-direction: column;
}

.howItWorks .div3 h2 {
  color: #ededed;
}

.howItWorks .div3 p {
  line-height: 1.4;
  color: #c6c6c6;
}

.howItWorks .div4 {
  justify-content: space-between;
  margin: 5%;
  width: 70%; 
  box-sizing: border-box; 
}

.howItWorks div img {
    max-width: 25%;
  /* max-height: 30em; */
  /* padding: 2em; */
  /* justify-content: space-between; */
  border-radius: 1em;
}

@media screen and (max-width: 500px) {
  .content {
    width: 100%;
    padding: 0;
  }

  .explore {
    padding: 5% 0;
  }

  .explore,
  .howItWorks {
    flex-direction: column;
    margin: 0 auto;
  }

  .explore div,
  .howItWorks .div3 {
    max-width: 95%;
    margin-top: 10%;
  }

  .explore .div1 {
    max-width: 95%;
  }

  .howItWorks div .screenShot2,
  .screenShot3 {
    display: none;
  }

  .howItWorks div .screenShot1 {
    width: 100%;
    height: auto;
  }

  .howItWorks div {
    justify-content: center;
  }

  .aboutUs div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}

.aboutUs {
  height: 60%;
  margin-top: 1.75em;
}

.aboutUs div {
  display: flex;
  justify-content: center;
}

.aboutUs .div5 h2{
  color: #7c7c7c;
  font-size: 16px;
  padding-right: 15px;
}
.aboutUs .div5 p{
    color: #7c7c7c;
    font-size: 16px;
  }

.aboutUs a {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5em;
}

.aboutUs a .fa-arrow-right {
  color: #7c7c7c;
  font-size: 30px;
  border: 1px solid #C6C6C6;
  border-radius: 20%;
  padding: 5px 10px;
}
.aboutUs a .fa-arrow-right:hover{
    color: #C6C6C6;
    box-shadow: 0px 1px 2px 1px #c0bebe;
}


/* Footer */

footer {
  background-color: #D80000;
  height: 20%;
  margin-top: 5em;
}

footer p {
  text-align: center;
  padding: 2em;
  color: #ededed;
  font-size: 1.1rem;
}