html {
  font-family: 'Montserrat', sans-serif;
}

/* Header */

header section {
  margin: 1em auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

header .webNav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}


/* Navigation */

header .navigation {
  display: flex;
  justify-content: center;
}

header .navigation ul a {
  justify-content: space-between;
  text-decoration: none;
  padding: 0 1em;
  color: #7c7c7c;
  transition: ease-out 0.2s;
  font-size: 1.2rem;
}

header .navigation ul a:hover {
  color: black;
  transition: ease-in 0.2s;
  text-shadow: 1px 1px 1px #ededed;
}

.navigation img {
  height: 60px;
}

.navigation p {
  font-size: 2rem;
  color: #D80000;
  font-weight: 500;
  /* padding: 0 2em; */
}

header span {
  display: none;
}

@media screen and (max-width: 500px) {
  header {
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    padding-top: 5px;
    z-index: 10;
    display: flex;
  }

  header .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #ededed;
  }

  header .webNav {
    display: none;
  }

  header section {
    margin: 0;
  }

  header nav {
    margin-left: 30%;
    flex-direction: column;
  }

  nav .fas {
    position: absolute;
  }

  header span {
    display: initial;
  }

  .navSlide {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
  }

  .navSlide a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }

  .navSlide .model-list {
    margin-top: 3rem;
    padding: 0 2rem;
  }

  .navSlide .fa-times {
    position: absolute;
    top: 22px;
    right: 22px;
    margin-left: 40px;
  }

  #slideContent span .slide a {
    color: black;
    font-size: 36px;
  }

  #slideContent {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
  }

  #slideContent a {
    font-size: 2rem;
    color: #7c7c7c;
    transition: ease-out 0.2s;
  }

  #slideContent a:hover {
    color: black;
    transition: ease-in 0.2s;
  }
}

/* Banner */

body .banner {
  height: 70%;
  width: 100%;
  object-fit: cover;
  background: url("images/peopleEating.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .banner h1 {
  font-size: 80px;
  width: 50%;
  background-color: #ededed;
  padding: 15px;
  margin: 20% 0;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 1px 2px #a3a2a2;
}

@media screen and (max-width: 500px) {
  body section.banner {
    position: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 40%;
  }

  body section.banner h1 {
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
  }
}


/* content */

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  /* -webkit-box-align: center;
    align-items: center;
    justify-content: center; */
}

.content h2 {
  font-size: 25px;
  color: #D80000;
  font-weight: bold;
  padding-bottom: 10px;
}

.content p {
  font-size: 20px;
}

/* Explore and Eat*/

.explore {
  margin-bottom: 5%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

.explore div {
  padding: 5px;
  align-content: center;
  /* max-width: 40%; */
}

.explore div img {
  width: 100%;
  box-shadow: 2px 1px 2px #c0bebe;
}

.explore .div1 {
  max-width: 30%;
}

.div1 p {
  line-height: 1.4;
}

/*How it Works*/

.howItWorks div {
  padding: 5px;
  align-content: center;
}

.howItWorks {
  display: flex;
  flex-direction: row-reverse;
  height: 50%;
  margin-top: 10% auto;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #D80000;
}

.howItWorks .div3 {
  max-width: 30%;
}

.howItWorks .div3 h2 {
  color: white;
}

.howItWorks .div4 {
  justify-content: space-between;
  align-items: center;
  margin: 5% 0;
  /* width: 40%; */
  /* box-sizing: border-box; */
}

.howItWorks div img {
  height: 30em;
  /* padding: 2em; */
  justify-content: space-between;
  border-radius: 1em;
}

@media screen and (max-width: 500px) {
  .content {
    width: 100%;
    padding: 0;
  }

  .explore {
    padding: 5% 0;
  }

  .explore,
  .howItWorks {
    flex-direction: column;
    margin: 0 auto;
  }

  .explore div,
  .howItWorks .div3 {
    max-width: 95%;
    margin-top: 10%;
  }

  .explore .div1 {
    max-width: 95%;
  }

  .howItWorks div .screenShot2,
  .screenShot3 {
    display: none;
  }

  .howItWorks div .screenShot1 {
    width: 100%;
    height: auto;
  }

  .howItWorks div {
    justify-content: center;
  }

  .aboutUs div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}

.aboutUs {
  height: 50%;
  margin-top: 10%;
}

.aboutUs div {
  display: flex;
  justify-content: space-evenly;
}

.aboutUs a {
  display: flex;
  justify-content: flex-end;
}

.aboutUs a .fa-arrow-right {
  color: #C6C6C6;
  font-size: 50px;
}


/* Footer */


footer {
  background-color: #D80000;
  height: 20%;
  margin-top: 5em;
}

footer p {
  text-align: center;
  padding: 2em;
  color: #ededed;
}